body {
    background-color: blanchedalmond ;

}
header {
    color: aqua ;
    text-align: center ; 
    text-shadow: 70px ;
    
}

section {
    color: gray ;
    

}
p {
  color :purple ; 
 background-color : grey ; 
 text-align: center ; 
}
ul  {
    color: grey ;
    
}